<!DOCTYPE html>
<html>
<head>
    <meta charset="UFT-8">
    <title>Dynamic Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>My Journey</h2>
    <a href="/"> &#127968; Home</a>

    <details>
        <summary> &#128193; Static Web</summary>
        <a href="/first"> &#128200; Journey 1</a>
        <a href="/second"> &#128200; Journey 2</a>
        <a href="/third"> &#128200; Journey 3</a>
        <a href="/fourth"> &#128200; Journey 4</a>
        <a href="/fifth"> &#128200; Journey 5</a>
        <a href="/sixth"> &#128200; Journey 6</a>
        <a href="/seventh"> &#128200; Journey 7</a>
    </details>

    <details>
        <summary> &#9881; Dynamic Web Home</summary>
        <a href="/base">Dynamic Journey 1</a>
        <a href="/test"> Dynamic Journey 2</a>
    </details>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
