{% extends "base.html" %}

{% block content %}
<h1>Dynamic &#128376; Journey 1</h1>
<p>I decided to move into dynamic web development because I wanted to challenge myself
and start understanding more complex systems. Instead of just building static pages, I
wanted to see how everything works together behind the scenes.
</p>
<p>
What I really like about this approach is that I can observe everything in real time.
I can follow how request are handled, how the server responds, and how different parts of
the application connect. This has helped me a lot in improving my problem-solving skills.
I'm getting better at finding errors, reading logs, and understanding what's actually happening
when something doesn't work.
</p>
<p>
At the beginning of every new topic, I actively use tools like AI, Google and YouTube to help me
understand how the system works. These resources are very useful for building a solid foundation.
Once I feel like I understand the basics, I start experimenting on my own> I intentionally break things and try 
to fix them without relying on external help. This approach helps me develop a deeper understanding and builds my
confidence in solving problems independently.
</p>
<p>
I chose this way of learning beacuse it keeps me engaged. It is not passive. I'm constantly building,
testing, breaking things, and fixing them. Since I want to move towards a full-stack role in the near future,
this feels like the right direction. I am working with real-world problems,
like figuring out why a page doesn't load, where to look for the issue, and how to fix it.
</p>
<p>
My goal is to keep going deeper and truly understand how these systems work, not just on the surface but 
underneath as well. I feel like I'm making steady progress, and that motivates me to keep going.
</p>
{% endblock %}
