{% extends "base.html" %}

{% block content %}
    <h1>Journey 3 &#128640; </h1>

    <p>
        While building this website, I realized that it is
        a static site, which means every HTML file separate.
        Because of this, I have to update the sidebar and 
        navigation manually in every page to keep everything
        consistent.
    </p>

    <div class="gallery">
        <img src="{{ url_for('static', filename='images/img1.png') }}" class="my-image">
        <img src="{{ url_for('static', filename='images/img2.png') }}" class="my-image">
        <img src="{{ url_for('static', filename='images/img3.png') }}" class="my-image">
    </div>
{% endblock %}
