{% extends "base.html" %}

{% block content %}
    <h1>Final Step - Troubleshooting & Next Level &#128640;</h1>

    <p>
    In the last 2-3 days, I focused heavily on troubleshooting and understanding how system
    behave when something breaks.
    </p>

    <h4>What I did:</h4>
    <ul>
        <li>Closed and opened ports intentionally (80, 443)</li>
        <li>Stopped and started the web server (nginx)</li>
        <li>Tested different Cloudflare error codes (521, 523, 1016)</li>
        <li>Analyzed server logs (nginx access & system logs)</li>
        <li>Checked firewall behavior</li>
        <li>Tested how DNS and IP changes affect the website</li>
    </ul>

    <h4>What I learned</h4>
    <p>
    I started to understand how real system works behind the scenes.
    Not just how to build it - but how to debug it when something goes wrong.
    </p>
    
    <h4>I now feel more confident with:</h4>
    <ul>
        <li>Linux basics</li>
        <li>Web servers (nginx)</li>
        <li>Networking basics (ports, protocols)</li>
        <li>DNS & Cloudflare</li>
        <li>Reading and understanding logs</li>
    </ul>
    <h2>Next Step - Dynamic Web</h2>
    <p>
    Now I am moving forward to the next level: building dynamic web applications.
    </p>
    <h4>In the next journey, I will start working with:</h4>
    <ul>
        <li>JavaScript (Node.js)</li>
        <li>Python</li>
        <li>Backend development</li>
        <li>APIs (Rest API)</li>
        <li>Databases (MySQL / PostgreSQL)</li>
        <li>Authentication (login systems)</li>
        <li>Server-side logic</li>
    </ul>
    <p>
    This is where things get real - from static pages to real applications.
    </p>
    <p>
    Let's go
    </p>
{% endblock %}
